---
import IndexContent from "@components/dyn_page/IndexContent.astro";
import Markdown from "@components/misc/Markdown.astro";
import MainGridLayout from "../layouts/MainGridLayout.astro";

// export const getStaticPaths = (async ({ paginate }) => {
// 	const allBlogPosts = await getSortedPosts();
// 	return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
// }) satisfies GetStaticPaths;
// // https://github.com/withastro/astro/issues/6507#issuecomment-1489916992

// const { page } = Astro.props;

// const len = page.data.length;

// const len = posts ? posts.length : 0;
---

<MainGridLayout>
    {/* TODO: implement pagination */}
    <IndexContent server:defer>
        <Markdown class="mt-2" slot="fallback">
            <p>加载中……</p>
        </Markdown>
    </IndexContent>
    {/*
    <PostPage page={page}></PostPage>
    <Pagination class="mx-auto onload-animation" page={page} style={`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`}></Pagination>
    */}
</MainGridLayout>